.*
/cypress/fixtures/.*.json
/cypress/videos/*
/node_modules
/public/build
/public/fonts/*
/public/storage
/storage/*.key
/storage/coverage*
/vendor
!.babelrc
!.env.*
!.git*
!.*rc
!*.yml
.gitsecret/keys/random_seed
_ide_helper.php
source-map-explorer-tree.html
database/seeds/SetsTableSeeder.php
database/seeds/SkillsTableSeeder.php
old
